<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>带你去旅行-交流</title> <%include("/travel/views/include.html"){}%>

</head>

<body>
	<div class="layout" id="app" @click="hideSearch" v-cloak>
		<layout> <%include("/travel/views/otherHeader.html"){}%> <carousel
			v-model="value2" loop autoplay autoplay-speed="5000"> <carousel-item>
		<div class="demo-carousel carousel1">
			<img src="/travel/images/14.jpg">
		</div>
		</carousel-item> <carousel-item>
		<div class="demo-carousel carousel2">
			<img src="/travel/images/15.jpg">
		</div>
		</carousel-item> <carousel-item>
		<div class="demo-carousel carousel3">
			<img src="/travel/images/16.jpeg">
		</div>
		</carousel-item> <carousel-item>
		<div class="demo-carousel carousel4">
			<img src="/travel/images/17.jpeg">
		</div>
		</carousel-item> </carousel>


		<div class="search-group">
			<i-input search enter-button placeholder="交流贴搜索..."
				@on-search="getList()" @on-change="getCity"
				v-model="page.searchValue" />
		</div>
		
		<div v-show="searchShow"
			class="m-search-suggest m-search-suggest-index hide"
			style="left: 50%; transform: translateX(-50%); top: 590px; display: block; padding: 5px;">
			<li v-for="d in searchData" @click="setSearchVal(d.location)"
				class="mss-item _j_listitem" data-type="mdd"
				data-url="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10466.html">
				<div class="mss-title">
					<span class="mss-fr">{{d.admin_area}}-{{d.parent_city}}</span><span
						class="mss-cn"> <span class="mss-key">{{d.location}}</span></span>
				</div>
			</li>
			</ul>
		</div>
		<content
			:style="{margin: '0px auto',width:'90%', background: '#fff', minHeight: '500px'}">
		
		<row style="padding-bottom: 20px;"> <i-col span="7"> <Card
			style="width:310px;margin: 10px;"> <iframe
			src="//www.seniverse.com/weather/weather.aspx?uid=U1399E59A9&cid=CHHN000000&l=zh-CHS&p=SMART&a=1&u=C&s=12&m=2&x=1&d=5&fc=&bgc=&bc=&ti=0&in=0&li="
			frameborder="0" scrolling="no" width="280" height="300"
			allowTransparency="true"></iframe> </Card> <Card
			style="width:310px;margin: 10px;">
		<div class="asidebox box-news">
			<div class="asidebox-hd">
				<h3 style="float: left;">精彩热帖</h3>
				<Button-Group type="button" style="float: right;"> <i-Button
					label="large" @click="getRank('1')">日</i-Button> <i-Button
					label="default" @click="getRank('7')">周</i-Button> <i-Button
					label="small" @click="getRank('30')">月</i-Button> </Button-Group>
			</div>
			<ul class="asidebox-bd">
				<li v-for="(r,index) in rank"><span>{{index+1}}，</span><a
					@click="toContent(r.id)">{{r.title}}</a></li>
			</ul>
		</div>
		</Card> </i-col> <i-col span="17"> <affix :offset-top="150"
			style="position: absolute;right:-50px ;top:20px"> <Button-Group
			vertical> <i-Button icon="md-arrow-round-up"
			@click="toTop"></i-Button> <i-Button icon="ios-brush"
			@click="toWrite"></i-Button> </Button-Group> </affix>
		<div style="color: #CCCCCC; margin: 80px 20px; font-size: 18px;"
			v-show="items.length<1">
			<p>没有更多内容了...</p>
		</div>
		

		<div class="tn-item clearfix" v-for="item in items">
			<div class="tn-image">
				<img :src="item.headimg"
					style="height: 150px; object-fit: cover; width: 220px; border-radius: 5px;">
			</div>
			<div class="tn-wrapper">
				<dl>
					<dt>
						<a @click="toContent(item.id)" target="_self">{{item.title}}</a>
					</dt>
					<dd>
						<a @click="toContent(item.id)" target="_self">
							{{item.simple_show}}</a>
					</dd>
				</dl>
				<div class="tn-extra">
					<span class="tn-ding"> <a @click="addLaud(item.id)"> <Icon
								type="ios-heart" size="28" :color="loveColor" /></icon>
					</a> <a class="btn-ding"></a> <em id="topvote12046698"
						style="font-size: 18px;">{{item.mylaud}}</em>
					</span> 
					<span class="tn-user"> <a
						@click="toOtherCenter(item.publish_user)" target="_self"
						rel="nofollow"> 作者:{{item.publish_username}} </a>
					</span> <span class="tn-nums"><Icon type="ios-eye" size="24"
							color="#888" /></icon>{{item.readme}}</span>&nbsp;&nbsp;&nbsp; <span
						class="tn-nums"><Icon type="ios-alarm" size="18"
							color="#888"></icon>{{item.publish_time | formatDate}}</span>
				</div>
			</div>
		</div>

		<Page :total="page.pageTotal" :page-size="page.pageSize"
			placement="top" @on-change="handlePage"
			@on-page-size-change='handlePageSize' show-sizer show-elevator
			show-total style="margin-top: 30px;" /> </i-col> </row> </content>
		<%include("/travel/views/footer.html"){}%> </layout>
	</div>
	<script>
    var vm = new Vue({
    	el:'#app',
    	data:{
			x:'4',
			searchShow:false,
			searchData:[],
			user:'${session.user.id!""}',
			value2:0,
			page:{
				 pageTotal: 0,
				 pageNum: 1,
				 pageSize: 10,
				 searchValue:'',
			},
			items:[],
			loveColor:'#f42121',
			rank:[],
		},
    	methods:{
    		getCity(param){
				if(!param.data){
					return;
				}
				$.get("https://search.heweather.net/find?location="+param.data+"&key=HE1903112121251629&number=8",function(data){
					vm.searchData = [];
					vm.searchShow = false;
					if(data.HeWeather6[0].status=="ok"){
						vm.searchShow = true;
						data.HeWeather6[0].basic.forEach(function(e){
							vm.searchData.push(e)
						})
					}
				})
			},
			hideSearch(){
				vm.searchShow = false;
			},
			setSearchVal(city){
				vm.page.searchValue = city;
			},
			handlePage(value) {
				console.log(value)
			  this.page.pageNum = value
			  this.getList()
			},
			handlePageSize(value) {
			  this.page.pageSize = value
			  this.getList()
			},
			getList(){
				$.get('/note/getNoteList',this.page,function(data){
					vm.items = data.list;
					vm.page.pageTotal = data.totalRow;
					console.log(vm.items)
				})
			},
			toContent(id){
				window.location.href = '/note/getANote?id='+id;
			},
			addLaud(id){
			   $.get('/note/setLaud',{id:id},function(data){
				   if(!data.success){
					  vm.$Message.warning(data.msg); 
				   }else{
					   vm.getList();
				   }
			   })
			},
			getRank(dateval){
				$.get('/note/getRank',{dateval:dateval},function(data){
				   vm.rank = data;
				})
			},
			toOtherCenter(userid){
				window.location.href = '/user/toOtherCenter?userid='+userid;
			},
			toTop(){
				$("html,body").animate({scrollTop:0},500);
			},
			toWrite(){
				if(this.user){
				window.location.href = '/note/toWrite';
				}
				else{
					vm.$Message.warning('请先登录~~');
					return;
				}
			}
			

			
    	},
    	created() {
    		
    	},
		filters:{
		    formatDate:function (val) {
		        var date=new Date(val);
		        var year=date.getFullYear();
				var month= date.getMonth()+1<10 ? "0"+(date.getMonth()+1) : date.getMonth()+1;
				var day=date.getDate()<10 ? "0"+date.getDate() : date.getDate();
				var hours=date.getHours()<10 ? "0"+date.getHours() : date.getHours();
				var minutes=date.getMinutes()<10 ? "0"+date.getMinutes() : date.getMinutes();
				var seconds=date.getSeconds()<10 ? "0"+date.getSeconds() : date.getSeconds();
		return year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
		             }
		    },
		mounted(){
			this.getList();
			this.getRank(7);
		}
    })
</script>

	<script type="text/javascript">
	$(function(){
		
	})
</script>
</body>
</html>
